

  .btnGoShop {
    border: 1px solid;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    width: 100%;
    transition: all 0.5s;
  }
  .btnGoShop span {
    z-index: 20;
  }
  .btnGoShop:after {
    background: #fff;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .2;
    position: absolute;
    top: -50px;
    width: 50px;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    z-index: 10;
  }
  
  .btnGoShop:hover:after {
    left: 120%;
    -webkit-transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .btnGoShop:hover{
    transform: translateY(-2px);
  }