.banner{
    background: rgb(78,134,166);
    background: -moz-linear-gradient(90deg, rgba(78,134,166,1) 0%, rgba(78,87,166,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(78,134,166,1) 0%, rgba(78,87,166,1) 100%);
    background: linear-gradient(90deg, rgba(78,134,166,1) 0%, rgba(78,87,166,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4e86a6",endColorstr="#4e57a6",GradientType=1);

}

.categoryFilter:hover .categoryFilterSpan{
    color: #272727;
}

.containerProducts{
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
    gap: 28px;
}



.productCard:hover::before{
    content: '';
    position: absolute;
    top: -40px;
    width: 60%;
    height: 140%;
    background: linear-gradient(#54BFE1, #4E57A6);
    animation: rotate 3s linear infinite;
    transition: all 0.3s;
}

.productCard::after{
    content: '';
    position: absolute;
    background: #B5BFC9;
    inset: 6px;
    border-radius: 12px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.toastNotif{
    background: rgb(172,184,231);
background: -moz-linear-gradient(90deg, rgba(172,184,231,1) 0%, rgba(153,227,235,1) 34%, rgba(145,235,182,1) 66%, rgba(239,241,137,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(172,184,231,1) 0%, rgba(153,227,235,1) 34%, rgba(145,235,182,1) 66%, rgba(239,241,137,1) 100%);
background: linear-gradient(90deg, rgba(172,184,231,1) 0%, rgba(153,227,235,1) 34%, rgba(145,235,182,1) 66%, rgba(239,241,137,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#acb8e7",endColorstr="#eff189",GradientType=1);
}

.animateProgress{
    animation: progressToast 2s linear forwards;
    transition: width 0.3s ease
}

@keyframes progressToast {
    0% { width: 100%; }
    100% { width: 0%; }
}